# KRX(한국거래소) 회원 로그인 정보 - https://data.krx.co.kr 에서 무료 회원가입
# pykrx가 시세 데이터를 조회할 때 이 계정으로 로그인 세션을 만듭니다 (로그인 없이는 조회 불가).
KRX_ID=
KRX_PW=

# DART(전자공시) Open API 키 - https://opendart.fss.or.kr 에서 무료 발급
DART_API_KEY=

# 네이버 뉴스 검색 API - https://developers.naver.com/apps 에서 애플리케이션 등록 후 발급
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
